%% -*- mode: erlang; erlang-indent-level: 4; indent-tabs-mode: nil -*-
%% -------------------------------------------------------------------
%%
%% Copyright (c) 2023 Workday, Inc.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%% -------------------------------------------------------------------
%%

{minimum_otp_vsn, "22.0"}.

{erl_opts, [
    debug_info,
    inline,
    no_auto_import,
    warnings_as_errors
]}.

{edoc_opts, [
    {preprocess, true}
]}.

{dialyzer, [
    {warnings, [
        error_handling,
        unknown,
        unmatched_returns
    ]}
]}.

{xref_checks, [
    deprecated_function_calls,
    deprecated_functions,
    locals_not_used,
    undefined_function_calls,
    undefined_functions
]}.

{profiles, [
    {test, []},
    {gha, [{erl_opts, [{d, 'GITHUBEXCLUDE'}]}]}
]}.

{alias, [
    {check, [xref, dialyzer]}
]}.
